* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: black;
}
.wrapper {
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave-btn {
    width: 280px;
    height: 60px;
    display: flex;
    border-radius: 0 0 10px 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .8s ease 0s;
    text-decoration: none;
    overflow: hidden;
}
.wave-btn:hover .wave-btn__waves{
    top: -50px;
}
.wave-btn:hover{
    border-radius: 10px;
    transition: all .8s ease 0s;
    box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn__text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}
.wave-btn__waves {
    position: absolute;
    width: 280px; height: 280px;
    background-color: #4973ff;
    top: 0; left: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: all .8s ease 0s;
}
.wave-btn__waves::after,
.wave-btn__waves::before {
    content: "";
    position: absolute;
    top: 0; left: 50%;
    width: 250%; height: 250%;
    transform: translate3d(-50%, -96%, 0) scale(1) rotate(0deg);
}
.wave-btn__waves::before {
    background-color: black;
    border-radius: 48%;

    animation: waves 5s infinite linear;
}
.wave-btn__waves::after {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 44%;

    animation: waves 10s infinite linear;
}

@keyframes waves{
    0% {
        transform: translate3d(-50%, -96%, 0) scale(1) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -96%, 0) scale(1) rotate(360deg);
    }
}